@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

header{
    background-color: rgba(0, 0, 0, 0.856);
    box-shadow: 0px 3px 10px black;
}

.nav-bar{
    display: flex;
    justify-content: space-between;
    padding: 1.5rem;
    border-bottom: 2px solid rgba(128, 128, 128, 0.527)
}

.logo{
    display: flex;
    align-items: center;
}

.logo h1{
    color: white;
}

.nav-list {
    display: flex;
    align-items: center;
}

.nav-list ul{
    display: flex;
    justify-content: center;
    list-style: none;
}

.nav-item{
    margin: 0px 15px;
}

.nav-link{
    text-decoration: none;
    font-size: 1.15rem;
    color: #fff;
    font-weight: 400;
}

.login-button button{
    display: none;
    border: none;
    background-color: rgba(255, 255, 0, 0.61);
    padding: 10px 15px ;
    border-radius: 5px;
}

.login-button a{
    display: none;
    text-decoration: none;
    color: fff;
    font-weight: 500;
    font-size: 1.1rem;
}

.mobile-menu-icon{
    display: none
}

.mobile-menu{
    display: none;
}

@media screen and (max-width: 735px) {
    .nav-bar{
        padding: 1.5rem 4rem;
    }

    .nav-item{
        display: none;
    }

    .login-button{
        display: none;
    }

    .mobile-menu-icon{
        display: block;
    }

    .mobile-menu-icon button{
        background-color: transparent;
        border: none;
        cursor: pointer;
    }

    .mobile-menu ul{
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;
    }

    .mobile-menu .nav-item{
        display: block;
        padding-top: 1.2rem;
    }

    .mobile-menu .login-button{
        display: block;
        padding: 1rem 2rem;
    }

    .mobile-menu .login-button button{
        width: 100%;
    }

    .mobile-menu-icon:hover {
        background-color: rgba(92, 91, 91, 0.63);
        border-radius: 5px;
    }

    .open{
        display: block;
        transition-timing-function: ease;
        border-bottom: 2px solid rgba(128, 128, 128, 0.527)
    }
}

main{
    background: url("../imagens/main/backgroundlol.jpg") no-repeat  center center;
    background-size: cover;
    height: 92vh;
}